@CHARSET "UTF-8";
/* CSS Document */

/* CSS Document */

/*adang 2011-04-12*/
.RuneMain,.RuneMain div,.RuneMain dl,.RuneMain dt,.RuneMain dd,.RuneMain ul,.RuneMain ol,.RuneMain li,.RuneMain h1,.RuneMain h2,.RuneMain h3,.RuneMain h4,.RuneMain h5,.RuneMain h6,.RuneMain hr,.RuneMain pre,.RuneMain img,.RuneMain form,.RuneMain fieldset,.RuneMain legend,.RuneMain input,.RuneMain textarea,.RuneMain p,.RuneMain font,.RuneMain th,.RuneMain td,.RuneMain blockquote,.RuneMain select,.RuneMain figure,.RuneMain button,.RuneMain kbd{margin:0;padding:0;}
.RuneMain section,.RuneMain article,.RuneMain aside,.RuneMain header,.RuneMain footer,.RuneMain nav,.RuneMain dialog,.RuneMain figure,.RuneMain hgroup{display:block;}
.RuneMain address,.RuneMain caption,.RuneMain cite,.RuneMain code,.RuneMain dfn,.RuneMain em,.RuneMain var,.RuneMain font{ font-weight:normal; font-style:normal;}
.RuneMain,.RuneMain button,.RuneMain input,.RuneMain select,.RuneMain textarea{ font:12px/1.5 Tahoma, Verdana, Arial, \5b8b\4f53; color:#000;}
.RuneMain input {padding:3px;color:#999;}
.RuneMain h1,.RuneMain h2,.RuneMain h3,.RuneMain h4,.RuneMain h5,.RuneMain h6,.RuneMain kbd{ font-size:100%; color:#000;}
.RuneMain table{ border-collapse:collapse; border-spacing:0;}
.RuneMain ul,.RuneMain ol{ list-style-type: none; }
.RuneMain sup { vertical-align:text-top; }
.RuneMain sub { vertical-align:text-bottom; }
.RuneMain fieldset,.RuneMain img,.RuneMain addr,.RuneMain acronym{ border:0;}
.RuneMain img,.RuneMain input,.RuneMain style,.RuneMain textarea,.RuneMain iframe,.RuneMain
.RuneMain caption,.RuneMain th{ text-align:left;}
.RuneMain textarea{overflow:hidden;}
.RuneMain s{text-decoration:none;}
.RuneMain strong,.RuneMain legend{color:#000;}
.RuneMain q:before,.RuneMain q:after{ content:'';}

#content{width:822px}
	#content .content-bot{padding-left:0;padding-right:0}
	#content h1{margin-left:22px;_margin-left:11px}
	.content-tool #global-share{right:22px}

/**文字排版**/
.Clear:after{content:".";display:block; height:0; clear:both; visibility:hidden;}.Clear{ display:inline-block;}*html .Clear{ height:1%;}.Clear{ display:block;} /**删除浮动**/
.f11{ font-size:11px;}.f12{ font-size:12px;}.f14{ font-size:14px;}.f16{ font-size:16px;}.f18{ font-size:18px;}.f20{ font-size:20px;}.f22{ font-size:22px;}
.fb{ font-weight:bold;}.fn{ font-weight:normal;}.t2{ text-indent:2em;}.lh18{ line-height:150%;}.lh22{ line-height:180%;}.lh24{ line-height:200%;}
.unl{ text-decoration:underline;}.unl-no{ text-decoration:none;}.tl{ text-align:left;}.tc{ text-align:center;}.tr{ text-align:right;}
.c-auto{ color:#BDF638;}.c-fff{ color:#FFF;}.c-000{ color:#000;}.c-f00{ color:#F00;}.c-093{ color:#093;}.c-00f{ color:#00F;}.c-ff0{ color:#FF0;}.c-fc0{ color:#FC0;}.c-999{ color:#999;}.c-666{ color:#666;}
.bg-fff{ background-color:#fff;}.bg-000{ background-color:#000;}.bg-f00{ background-color:#f00;}.bg-00f{ background-color:#00f;}.bg-fc0{ background-color:#fc0;}.bg-093{ background-color:#093;}
.bg-tbd{ background-color:#777; color:#fff;}
/**定位**/
.bc{ margin-left:auto; margin-right:auto;}.fl{float:left; display:inline;}.fr{ float:right; display:inline;}.f-no{ float:none;}.cb{ clear:both;}.cl{ clear:left;}.cr{ clear:right;}
.vm{ vertical-align:middle;}.zoom{zoom:1;}.block{ display:block;}.none{display:none;}.hidden{visibility:hidden;}.oh{overflow:hidden;}.oh-l{ overflow-x:hidden;}.oh-y{ overflow-y:hidden;}.oa{ overflow:auto;}
.pr{ position:relative;}.pa{ position:absolute;}.pa-l{ position:absolute; left:0;}.pa-t{ position:absolute; top:0;}.pa-r{ position:absolute; right:0;}.pa-b{ position:absolute; bottom:0;}
/**宽度高度**/
.w10{ width:10px;}.w20{ width:20px;}.w30{ width:30px;}.w40{ width:40px;}.w50{ width:50px;}.w60{ width:60px;}.w70{ width:70px;}.w80{ width:80px;}.w90{ width:90px;}
.w100{ width:100px;}.w110{ width:110px;}.w120{ width:120px;}.w130{ width:130px;}.w140{ width:140px;}.w1000{ width:1000px; margin:0 auto;}
.wa{ width:auto;}.w{ width:100%;}.ha{ height:auto;}.h{ height:100%;}.h20{ height:20px;}.h50{ height:50px;}.h80{ height:80px;}.h100{ height:100px;}.h200{ height:200px;}
/**边距**/
.ma{ margin:auto;}.m0{ margin:0px;}.m10{ margin:10px;}.m15{ margin:15px;}.m30{ margin:30px;}.mt0{ margin-top:0px;}.mt5{ margin-top:5px;}.mt8{ margin-top:8px;}.mt10{ margin-top:10px;}.mb0{ margin-bottom:0px;}.mb5{ margin-bottom:5px;}.mb8{ margin-bottom:8px;}.mb10{ margin-bottom:10px;}.ml0{ margin-left:0px;}.ml5{ margin-left:5px;}.ml8{ margin-left:8px;}.ml10{ margin-left:10px;}.mr0{ margin-right:0px;}.mr5{ margin-right:5px;}.mr8{ margin-right:8px;}.mr10{ margin-right:10px;}
.pa{ padding:inherit;}.p0{ padding:0px;}.p10{ padding:10px;}.p15{ padding:15px;}.p30{ padding:30px;}.pt0{ padding-top:0px;}.pt5{ padding-top:5px;}.pt10{ padding-top:10px;}.pb0{ padding-bottom:0px;}.pb5{ padding-bottom:5px;}.pb10{ padding-bottom:10px;}.pl0{ padding-left:0px;}.pl5{ padding-left:5px;}.pl10{ padding-left:10px;}.pr0{ padding-right:0px;}.pr5{ padding-right:5px;}.pr10{ padding-right:10px;}

/**布局**/
.Body-top{background:url(bg-top.jpg) no-repeat center top;}
.Body-footer{background:url(bg-footer.jpg) no-repeat center bottom; padding-bottom:30px;}

/**顶部导航**/
.Top{ height:156px;}
.TopNav{ float:right; width:200px; padding:20px 50px; display:inline;}
.TopNav li{ float:left; width:86px; height:35px; margin:3px; display:inline; overflow:hidden;}
.TopNav li a{ background:url(images/bg-main.png) no-repeat; display:block; height:35px; width:86px; text-indent:-999em;}
.TopNav .a-2:link,.TopNav .a-2:visited{ background-position:-87px 0;}
.TopNav .a-3:link,.TopNav .a-3:visited{ background-position:-174px 0;}
.TopNav .a-4:link,.TopNav .a-4:visited{ background-position:-261px 0;}
.TopNav .a-1:hover,.TopNav .a-1:active{background-position:0px -36px;}
.TopNav .a-2:hover,.TopNav .a-2:active{background-position:-87px -36px;}
.TopNav .a-3:hover,.TopNav .a-3:active{background-position:-174px -36px;}
.TopNav .a-4:hover,.TopNav .a-4:active{background-position:-261px -36px;}

.Header{height:223px; overflow:hidden;}
.Video,.VideoNews,.FreeHero{ margin:8px 0 0 8px;  height:152px; overflow:hidden;}
.VideoNews{ padding-left:10px; width:265px;}
.VideoNews li{ padding-left:25px; background:url(images/bg-main.png) no-repeat -400px 8px; height:26px; line-height:26px;}
.FreeHero{ margin-left:10px; width:374px;}
.FreeHero ol{ height:27px; line-height:27px; background:url(images/bg-x.png) repeat-x; position:relative; z-index:3;}
.FreeHero ol li{ cursor:pointer; width:186px; text-align:center; color:#FF0;}
.FreeHero ol .hover{border:1px solid #2063CD; border-bottom:none;background:url(images/bg-x.png) repeat-x 0 -28px; position:relative; color:#fff;}
.FreeHero li{ float:left;}
.FreeHero ul{ width:372px; height:123px; clear:both; border:1px solid #2063CD;background:url(images/bg-x.png) repeat-x 0 -50px; position:absolute; z-index:2; overflow:hidden;}
.FreeHero ul li{ margin:5px 6px;}
.FreeHero ul li img{ width:50px;}
/*.Nav{ background-color:#369; margin-top:5px; height:55px;}*/
.left{ float:left;}
.right{ float:right;}
.dis{ display:block;}
.undis{ display:none;}
.headVideo{ width:570px; padding:5px 20px 0 9px; overflow:hidden;}
.headVideoShow{
	background:url(../images/bg_head_video.jpg) no-repeat;
	width:315px;
	height:149px;
	margin-right: 14px;
	padding:2px 0 0 2px;
}

.headVideolist{ padding:3px 0 0 0; zoom:1;}
.headVideolist li{  overflow:hidden; padding:0 1px; height:28px; line-height:28px;}
.headVideolist li a{ background:url(../images/bg_li_01.png) no-repeat 0 -1px;padding:0 2px 0 25px; display:block;}

.headVideolist li a:link,.headVideolist li a:visited{ color:#408cb7;}
.headVideolist li a:hover{ background:url(../images/bg_li_01.png) no-repeat 0 -31px; color:#fff;}
.lolheadFreeHero{
	width:385px;
	/*width:355px;*/
	margin:5px 10px 13px 0;
	/*_display:inline;*/
	overflow:hidden;
}

.lolheadFreeHeroTab ul{ background:url(../images/bg_nfreehero.jpg) repeat-x; height:28px; line-height:27px;}
.lolheadFreeHeroTab ul li{ float:left;}
.lolheadFreeHeroTab ul li a{ width:192px; height:28px; display:block; float:left; text-align:center;}


.lolheadFreeHeroTab ul .hovertab{ background:url(../images/bg_freehero_hovertab.jpg) no-repeat;}
.lolheadFreeHeroTab ul .hovertab a{ color:#ffe600;}

#lolFreeHeroTab1{ margin-right:1px;}

.lolheadFreeHero .box{ background:url(../images/bg_headerFreeHeroList.jpg) no-repeat; height:126px;}
.lolheadFreeHero .box ul{ padding:5px 0 0 24px; zoom:1;}
.lolheadFreeHero .box ul li{ float:left; margin:0 18px 6px 0;}
.lolheadFreeHero .box ul li a img{ width:52px; height:52px; overflow:hidden; display:block;}

.Nav{
	background:url(../images/bg_mainNav.jpg) no-repeat;
	width:905px;
	/*margin:0 auto;*/
	margin-left:43px;
	margin-top:0px;
	height:47px;
}

.Nav ul{}
.Nav ul li{ float:left;}
.Nav ul li a{ float:left; width:102px; height:49px; display:block;}
.Nav ul li a:hover{ background:url(../images/bg_mainNav.jpg) no-repeat;}

.Nav ul .n2 a:hover{ background-position: -102px -49px;}
.Nav ul .n3 a:hover{ background-position: -204px -49px;}
.Nav ul .n4 a:hover{ background-position: -306px -49px;}
.Nav ul .n5 a:hover{ background-position: -404px -49px;}
.Nav ul .n6 a:hover{ background-position: -504px -49px;}
.Nav ul .n7 a:hover{ background-position: -605px -49px;}
.Nav ul .n8 a:hover{ background-position: -705px -49px;}
.Nav ul .n9 a:hover{ background-position: -803px -49px;}

.Nav ul .n4 a{ width:98px;}
.Nav ul .n5 a{ width:100px;}
.Nav ul .n6 a{ width:101px;}
.Nav ul .n7 a{ width:100px;}
.Nav ul .n8 a{ width:98px;}

/****/
.Display{ height:473px;position:relative;background:url(../images/-5363500_565ba69648840.jpg) no-repeat 0 0 #F3CB8D;}
.DisplayList li{ position:absolute; width:57px; height:65px; background:url(bg-main.png) no-repeat -172px -77px; text-align:center;}
.DisplayList li img{ margin-top:3px; cursor:pointer;}
.Red li{ background-position:0px -77px;}
.Yellow li{ background-position:-58px -77px;}
.Blue li{ background-position:-115px -77px;}
.Purple li{ width:111px; height:111px; background-position:0 -144px;}
.Red .li-1{ top:405px; left:22px;}
.Red .li-2{ top:405px; left:85px;}
.Red .li-3{ top:407px; left:158px;}
.Red .li-4{ top:348px; left:10px;}
.Red .li-5{ top:343px; left:71px;}
.Red .li-6{ top:358px; left:126px;}
.Red .li-7{ top:296px; left:33px;}
.Red .li-8{ top:301px; left:112px;}
.Red .li-9{ top:257px; left:73px;}







.Yellow .li-1{ top:213px; left:36px;}
.Yellow .li-2{ top:210px; left:107px;}
.Yellow .li-3{ top:165px; left:66px;}
.Yellow .li-4{ top:141px; left:121px;}
.Yellow .li-5{ top:96px; left:153px;}
.Yellow .li-6{ top:70px; left:210px;}
.Yellow .li-7{ top:51px; left:267px;}
.Yellow .li-8{ top:33px; left:331px;}
.Yellow .li-9{ top:82px; left:358px;}








.Blue .li-1{ top:35px; left:398px;}
.Blue .li-2{ top:35px; left:464px;}
.Blue .li-3{ top:35px; left:547px;}
.Blue .li-4{ top:84px; left:432px;}
.Blue .li-5{ top:75px; left:509px;}
.Blue .li-6{ top:122px; left:479px;}
.Blue .li-7{ top:69px; left:596px;}
.Blue .li-8{ top:110px; left:555px;}
.Blue .li-9{ top:162px; left:577px;}
.Purple .li-1{ top:39px; left:24px;}
.Purple .li-2{ top:230px; left:179px;}
.Purple .li-3{ top:176px; left:410px;}
.DisplayList .yes{ background:none;}

.RuneMain .Statistics{ width:160px;}
.RuneMain .Statistics ul{ height:400px; overflow:auto;margin-top: 34px;}
.RuneMain .Statistics li{ height:24px; line-height:24px;}
.RuneMain .Statistics p{ height:36px; line-height:34px; margin-top:4px; padding-left:50px; font-size:22px; color:#502100;}

.RuneMain .RuneNavBox{ height:40px; background-color:#152F46;position:relative}
.RuneMain .RuneNav{ height:28px; background:url(../images/241921431322/241924260145.png) no-repeat; margin-left:6px;margin-top:6px;}
												
.RuneMain .RuneNav li{ float:left; cursor:pointer; height:28px;width:89px;margin-right:6px}
.RuneMain .RuneNav a{ display:block; height:100%;width:100%; text-indent:-999em; overflow:hidden;}
.RuneMain .RuneNav .hover .a-1{background:url(../images/241921431322/241924260145.png) no-repeat 0 -28px;}
.RuneMain .RuneNav .hover .a-2{background:url(../images/241924260145.png) no-repeat -95px -28px;}
.RuneMain .RuneNav .hover .a-3{background:url(../images/241921431322/241924260145.png) no-repeat -190px -28px;}
.RuneMain .RuneNav .hover .a-4{background:url(../images/241924260145.png) no-repeat -285px -28px;}
.RuneMain .LevelDl{ margin:5px 5px 0 0;position:absolute;right:0}
.RuneMain  .LevelDl dt{ background-color:#233E51; height:26px; line-height:26px; padding:0 8px; border:1px solid #66869D; color:#E5F2FB; cursor:pointer; width:126px;}
.RuneMain .LevelDl dt:hover,.RuneMain .LevelDl dt.hover{ background-color:#2E4B5D;}
.RuneMain .LevelDl dt s{border:5px solid #66869D; border-bottom:none; border-left:5px dashed transparent; border-right:5px dashed transparent; width:0px; height:0px; overflow:hidden; position:absolute; right:8px; top:11px;}
.RuneMain .LevelDl dt.hover s{border-top:none;border-bottom:5px solid #66869D; top:10px}
.RuneMain .LevelDl dd{ position:absolute; background-color:#2E4B5D; border:1px solid #66869D; width:141px; margin-top:-1px; padding:1px 0 1px 1px; display:none;}
.RuneMain .LevelDl li{ float:left; display:inline; width:24px; height:24px; text-align:center; line-height:24px; border:1px solid #527186; margin:1px; cursor:pointer; color:#fff; border-radius:3px;}
.RuneMain .LevelDl li:hover,.RuneMain .LevelDl li.hover{ font-weight:bold; border:1px solid #936118; background-color:#FFE3AF; color:#743900;}
.RuneMain .Select{ background-color:#F1E8C9; padding:8px 0;}
.RuneMain .Select dl{ height:30px; clear:both;}
.RuneMain .Select dt{ float:left; width:80px; text-align:right; font-weight:bold; line-height:30px;}
.RuneMain .Select li{ float:left; padding:0 5px; cursor:pointer; border:1px solid #666; height:22px; line-height:22px; margin:3px 3px 0; -moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px;box-shadow:2px 2px 4px #E0CB89;-moz-transition:0.2s;-webkit-transition:0.2s;transition:0.2s;}
.RuneMain .Select .hover{ border:1px solid #985008; background-color:#DCA85D; font-weight:bold; color:#743900;}
.RuneMain .Select .null{ background-color:#bbb; color:#666;}

.RuneList{ border:1px solid #666; background-color:#fff;  overflow:auto; padding:3px 0 3px 3px;}
.RuneList li{ height:45px; line-height:44px; width:236px; background:url(../images/242862864296/242862869563.png) repeat-x 0 -182px; border:1px solid #8F7829; margin:3px; float:left; display:inline; cursor:pointer;-moz-transition:0.2s;-webkit-transition:0.2s;transition:0.2s; border-radius:3px;}
.RuneList li:hover{ border:1px solid #392E00;}
.RuneList li img{ width:30px; margin:7px 3px 0 3px; float:left;}
.RuneList li span{ float:left;}

.Help{ background-color:#E7DCC0; padding:8px; line-height:22px;}
.Help p{ text-indent:2em;}

.RuneMain .HoverData{ width:230px; position:absolute; z-index:99; background:url(../images/bg-box.png) repeat; padding:5px; border-radius:5px; display:none;}
.RuneMain .HoverData div{ background-color:#F1E8C9; border-radius:3px; padding:2px 5px;}
.RuneMain .HoverData img{ width:50px; float:left;}
.RuneMain .HoverData dl{ margin-left:60px;}
.RuneMain .HoverData dt{ height:22px; line-height:22px; overflow:hidden;}

.Link{ height:100px;}
.Link p{ margin:8px 0;}
.Link a{ margin-right:5px;}
.copyright{ text-align:center; color:#fff; margin-top:30px; line-height:24px;}
.copyright strong{ color:#fff;}

.RuneMain .ght{ width:111px; height:37px; margin-left: 538px; margin-top: 386px;}
.DisplayList li img{width: 50px;}
.DisplayList .Purple li img{width: 120px;}